{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Header template</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Header called everywhere</h1>
{{ end }}
